@import "tailwindcss";

@layer base {
  body {
    @apply bg-zinc-900;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
